body {
    font-family: "Raleway";
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000044;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-image: url("http://www.menshealth.com/sites/menshealth.com/files/articles/2017/01/how-much-joining-gym-helps-health-2.jpg.jpeg");
    background-size: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #000000;
}

.nav{
    font-family: "Raleway";
    font-size: 10pt;
    letter-spacing: 1pt;
}

.border-right {
    border-right: 1px solid #FFFFFF;
}

.borders {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    margin: -1px;
}

.border-left {
    border-left: 1px solid #FFFFFF;
}